@page "/"
@model Concesionaria.Admin.Pages.IndexModel

@{
    ViewBag.Title = "Inicio";
}


@section styles
{
}


<div class="container-fluid">
    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

    @* add you ccontent here *@

    <h1>Inicio</h1>

</div>


@section scripts
{
}