<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                @if(DateTime.Now.Year == 2025)
                {
                    <span>© 2025</span>
                }
                else
                {
                    <span>© 2025 - @DateTime.Now.Year</span>
                }
                
                 | Desarrollada por <a href="https://elflacoseba.dev" target="_blank" class="fw-semibold">Sebastián Serrisuela</a>
            </div>           
        </div>
    </div>
</footer>